ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2rem;

    margin: 0;
    padding: 0;
}

li {
    
}

li a, li a:visited, li a:hover {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    _text-decoration: none;
}

.draft-link a, .draft-link a:visited, .draft-link a:hover {
    color: #777;
}


.featured {
    image-rendering: pixelated;
    width: 100%;
    max-width: 100% !important;
    height: 50px;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    .featured {
        height: initial;
        float:right;
        width: 150px;
        max-width: 33% !important;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}